extends layout

block content
  h1= title
    img(src='https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA2OS85MDcvb3JpZ2luYWwvYW5ncnktZmFjZS5qcGVn')
    h1 Image Emotion Analysis
    h2 The image has the following emotions:

  ul
    li Anger score: #{anger*100}%
    li Contempt Score: #{contempt*100}%
    li Fear Score: #{disgust*100}%
    li Happiness Score: #{happiness*100}%
    li Sadness Score: #{sadness*100}%
    li Surprise Score: #{surprise*100}%

