extends layout

block content
  h1= title
    img(src='https://pbs.twimg.com/profile_images/1034484319866302472/O8nhACsb_400x400.jpg')
    h1 Image Emotion Analysis
    h2 The image has the following emotions:

  ul
    li Anger score: #{anger*100}%
    li Contempt Score: #{contempt*100}%
    li Fear Score: #{disgust*100}%
    li Happiness Score: #{happiness*100}%
    li Sadness Score: #{sadness*100}%
    li Surprise Score: #{surprise*100}%

